/* Flexbox is a way to arrange items into rows or columns. These items will flex (i.e. grow or shrink) based on some simple rules that you can define. */

/* Including the two flex related CSS declarations results in all 3 divs being aranged horizontally */

.flex-container {
    /* display: flex; */
    display: flex;
}

/* this selector selects all divs inside of .flex-container */
.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    /* flex: 1; */
    flex: 1;
}